<!--Name: Jocelyn Dupuis -->
<!--File: nav.component.html -->
<!--Date: 01/18/2023-->
<!--Description: HTML file for nav component-->

<!--main nav bar-->
<nav class="ps-4 navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a routerLink="/" class="navbar-brand">Nodebucket</a>

  <!--nav bar button-->
  <button
    class="navbar-toggler"
    type="button"
    data-base-toggle="collapse"
    data-base-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
  <span class="navbar-toggler-icon"></span>
  </button>

  <!--navbar items-->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto p-2 justify-content-between nav-font">
      <!--navigation tabs-->
      <li class="navbar-item">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/about" class="nav-link">About Us</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/contact" class="nav-link">Contact Us</a>
      </li>

      <!--sign in icon button-->
      <li *ngIf="!isLoggedIn" class="sign-in-out-button">
        <a class="nav-link" routerLink="/security/signin">Sign In</a>
      </li>

      <!--if user is successfully logged in a dropdown menu becomes available-->
      <li *ngIf="isLoggedIn" class="nav-item dropdown">
        <a href="#"
        class="nav-link pe-3"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <!--person icon-->
        <span class="material-icons">
          person
        </span>
      </a>
      <!--logged in dropdown menu items-->
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <!--displays users name-->
        <li class="dropdown-item">
          Signed in as {{ appUser.fullName }}
        </li>
        <li>
          <a routerLink="/task-management" class="dropdown-item">My Tasks</a>
        </li>
        <li>
          <a (click)="signout()" class="dropdown-item link">Sign Out</a>
        </li>
      </ul>
     </li>
    </ul>
  </div>
</nav>