<!--Name: Jocelyn Dupuis -->
<!--File: about.component.html -->
<!--Date: 01/18/2023-->
<!--Description: HTML file for about component-->

<div class="container-about">

  <!--h2 heading -->
  <h2>Learn About Nodebucket!</h2>

  <!--fxLayout for google map image and contact info-->
  <div fxLayout="row wrap">
    <!--about nodebucket-->
    <div fxFlex>
      <div class="about-info">
        <h4>Our backstory</h4>
        <p>
          Nodebucket came to fruition in 2023 when Jocelyn Dupuis became repeatedly frustrated because she found it difficult to organize her tasks effectively in one place. Jocelyn had to create something to remedy this nuisance and she knew just where to pull inspiration.
        </p>
        <p>
          After a long love affair with Harry Potter, specifically her favorite house, Ravenclaw, Jocelyn felt a keen similarity between the Ravenclaw House and her aspiring task manager application, which would become Nodebucket.
        </p>
        <p>
          For those of you unaware, there are four Hogwarts houses. Ravenclaw, being one, is known for its prized students who focus on learning, wit, and wisdom. These characteristics reflected the nature of their founder, Rowena Ravenclaw, who was known to be a woman of remarkable diligence and intelligence. Also known as the “Smart House,” these students are academically motivated and creative thinkers. They can be eccentric and curious, always seeking to learn more. Most importantly, they are logical and rational but also think outside the box.
        </p>
        <p>
          This is where Nodebucket creator Jocelyn got her inspiration. She wanted to create an application for businesses that inspired their teams and employees. One that was built to empower individuals with remarkable diligence and intelligence yet had a playful and eccentric feel.
        </p>
        <p>
          Nodebucket was built thoughtfully and simplistically to help manage tasks effectively and empower individuals and teams. Like the Ravenclaws, Nodebucket cherishes learning and originality – both ideas and people.
        </p>
        <p>
          Our app aims to provide structure and organization to ease some of the common frustrations that come with task management. We hope Nodebucket creates a space that motivates and inspires individuals to get the job done in a fun yet logical and rational way.
        </p>
        <p>
          Remember, most great wizarding inventors and innovators have come from the Ravenclaw house. What will Nodebucket do for you…
        </p>
      </div>
    </div>

  </div>

    <div fxFlex>
      <!--google map-->
      <img class="about-pic" src="./assets/to-do-list.jpg" alt="picture of a todo list" width="40%" />
      <!--photo attribution and link-->
      <p class="attribution-link">Source: <a href="https://jdupuis825.github.io/Portfolio/" target="_blank">Jocelyn Dupuis</a></p>
    </div>



</div>
