<!--Name: Jocelyn Dupuis -->
<!--File: page-not-found.component.html -->
<!--Date: 02/02/2023-->
<!--Description: HTML file for page-not-found component-->

<!--container for page-not-found-->
<div class="container" style="min-height: 950px; max-width: 1800px;">

  <div class="row">

    <!-- first column -->
    <div class="col-md-6">

      <figure>
        <a routerLink="/">
          <!-- image source: https://unsplash.com/photos/iMwiPZNX3SI -->
          <img class="img-fluid" src="./assets/404-page.jpeg" alt="Page 404 - Not Found - Image of book with light bulb">
        </a>

        <figcaption>Image Source: Redbubble</figcaption>
      </figure>

    </div><!--end of first column -->

    <!-- second column -->
    <div class="col-md-6 my-5">
      <h2>Quoth the Raven</h2>
      <h1>404!</h1>

      <a routerLink="/" class="btn btn-outline-light">Return Home</a>
    </div>

  </div>

</div>