/**
Name: Jocelyn Dupuis
File: tasks.component.css
Date: 01/21/2024
Description: CSS file for task component
*/

/*styling for contact container*/
.container-contact {
  background-color: #223164;
  height: 100%;
  width: 100%;
}

/*styling for heading 2 */
h2 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  color: #946b2d;
  padding-top: 2%;
  font-size: 2em;
  font-weight: bold;
}

/*styling for heading 4*/
h4 {
  color: #946b2d;
}

/*styling for google map*/
.map {
  margin-bottom: 2%;
  float: left;
  margin-left: 15%;
  margin-top: 2%;
}

/*styling for contact info*/
.contact-info {
  float: right;
  color: white;
  margin-top: 1.5%;
  margin-right: 25%;
  text-align: center;
}

/*styling for ravenclaw banner*/
.contact-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  border: 3px solid white;
}

/*styling for attribution link*/
.attribution-link {
  color: white;
  font-size: small;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}