<!--Name: Jocelyn Dupuis -->
<!--File: contact.component.html -->
<!--Date: 01/25/2023-->
<!--Description: HTML file for contact component-->

<!--main container for contact page-->
<div class="container-contact">

  <!--h2 heading -->
  <h2>Contact Us In The Following Ways!</h2>

  <!--fxLayout for google map image and contact info-->
  <div fxLayout="row wrap">
    <div fxFlex>
      <!--google map-->
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.264842774508!2d-95.92073292335803!3d41.150571971330876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886a86ca807f%3A0x838e857240d175eb!2sBellevue%20University!5e0!3m2!1sen!2sus!4v1706235112328!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <br>

    <!--contact info-->
    <div fxFlex>
      <div class="contact-info">
        <h4>Visit Us At:</h4>
        <br>
        <p>
          1000 Galvin Rd S,
        </p>
        <p>
          Bellevue, NE
        </p>
        <p>
          68005
        </p>
        <br>
        <p>
          Email: BRUINSupportServices@bellevue.edu
        </p>
        <p>
          Tel: 1.402.293.2000 or 1.800.756.7920
        </p>
        <br>
        <p>
          Hours:
        </p>
        <p>
          Monday - Thursday 8:00am to 6:00pm, and
        </p>
        <p>
          Friday 8:00am to 5:00pm
        </p>
      </div>
    </div>

  </div>

  <!--Ravenclaw banner picture-->
  <div>
    <img class="contact-pic" src="./assets/Ravenclaw-Banner.jpeg" alt="picture of ravenclaw banner" width="50%" />
    <!--photo attribution and link-->
    <p class="attribution-link">Source: <a href="https://paperhouseproductions.com/collections/ravenclaw">Paper House</a></p>
  </div>

</div>




