<!--Name: Jocelyn Dupuis -->
<!--File: signin.component.html -->
<!--Date: 01/18/2023-->
<!--Description: HTML file for signin component-->

<div class="container-fluid bg-dark" style="min-height: 900px;">
  <h2>Please sign in with a valid Employee ID below</h2>
  <p>Upon successful login, you can then access 'My Tasks' page by clicking on the person icon from the menu in the upper left hand corner.</p>
<!--employee signin container-->
<div class="signin-container">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h2>Employee Sign In</h2>
        </div>

        <!--error message-->
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{errorMessage}}
        </div>

        <div class="card-body">
          <form [formGroup]="signinForm" (ngSubmit)="signin(); signinForm.reset();">
            <div class="mb-4">
              <label for="empId" class="form-label">Employee ID:</label>
              <input type="text" class="form-control" id="empId" formControlName="empId">
            </div>

            <div class="d-grid">
              <button type="submit" class="btn">
                <span *ngIf="!isLoading">Sign In</span>

                <div *ngIf="isLoading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!--link to return user to home page-->
      <a routerLink="/" class="text-underline-hover">Return</a>
    </div>
  </div>
</div>
</div>