/**
Name: Jocelyn Dupuis
File: signin.component.css
Date: 01/28/2024
Description: CSS file for signin component
*/

/*styling for heading 2*/
h2 {
  text-align: center;
  margin-top: -1%;
  margin-bottom: 2%;
  color: #946b2d;
  padding-top: 4%;
  font-size: 1.7em;
  font-weight: bold;
}

/*styling for p element*/
p {
  color: white;
  text-align: center;
  font-size: 1em;

}
/*styling for main container*/
.container-fluid {
  background-image: url("/assets/ravenclaw-signin-page.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}

/*styling for signin container*/
.signin-container {
  margin-top: 10%;
}

/*styling for signin button*/
.btn {
  color: black;
  background-color: #946b2d;
  border: 2px solid white;
}

/*styling for return link*/
.text-underline-hover {
  color: white;
}