<!--Name: Jocelyn Dupuis -->
<!--File: home.component.html -->
<!--Date: 01/18/2023-->
<!--Description: HTML file for home component-->

<div class="container-home">

    <!--details about Ravenclaw task manager: Nodebucket-->
  <div fxFlex>
    <br>
    <h2>Welcome to the Ravenclaw Task Manager - Nodebucket!</h2>
    <h3>
      A task manager app inspired by the best Harry Potter House: Ravenclaw.
    </h3>
    <p>Nodebucket is a task manager application that lets you plan, organize, and prioritize all your tasks so that you can complete them efficiently and effectively. Achieving goals and completing projects will be a breeze with this tool for all individuals, teams, and companies. Nodebucket will help you streamline all the processes involved in creating, delegating, updating, and completing tasks. This tool will help employees work faster and collaborate better.</p>
  </div>

  <!--image display-->
  <div>
    <img class="home-pic" src="./assets/ravenclaw-landing-page.jpeg" alt="picture of ravenclaw banner" width="50%" />
    <!--photo attribution and link-->
    <p class="attribution-link">Source: <a href="#">Rijgar Aur Nirman</a></p>
  </div>
</div>
