
h2 {
  color: darkgoldenrod;
  text-align: center;
  font-size: 2em;
  margin-top: 2%;
  margin-bottom: 2%;
}

p {
 text-align: center;
 font-size: 1.2em;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

em {
  text-align: center;
}